.app-profile-change {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.app-profile-change .app-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-gap: 10px;
}

.app-profile-change .app-form-field {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.app-profile-change .input{
  display: flex;
  width: 70%;
}

.app-profile-change .app-form .text-error {
  margin-left: 30%;
}

.app-profile-change-button-panel {
  width: 100%;
  display: flex;
  grid-gap: 10px;
}


@media (max-width: 575px) {
  .app-profile-change .app-form-field { 
    grid-gap: 2px;
    flex-wrap: wrap;
  }

  .app-profile-change .input { width: 100% }
  .app-profile-change .app-form .text-error { margin-left: 0 }
  .app-profile-change .app-form-button-panel {  flex-wrap: wrap }
}
