.app-profile-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.app-profile-info .app-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-gap: 10px;
}

.app-profile-info .app-list-item {
  height: 40px;
  display: flex;
  width: 100%;
  grid-gap: 2px;
  justify-content: space-between;
  border-bottom: 1px solid hsl(var(--n));
  color: hsl(var(--bc));
  align-items: center;
}

/* .app-profile-info .app-list-item-label {
  color: hsl(var(--n));
} */

.app-profile-info-button-panel {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

