.game-mvp {
  #game-canvas {
    height: 100%;
    border: 1px solid #000000;
  }

  #play-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    text-align: center;

    & p {
      margin-bottom: 0;
    }

    & input {
      font-size: 18px;
      outline: none;
      border: none;
      border-bottom: 1px solid black;
      margin-bottom: 5px;
      padding: 3px;
      text-align: center;

      &:hover {
        outline: none;
      }
    }
  }

  #leaderboard {
    position: fixed;
    top: 13%;
    right: 15%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;

    & th {
      text-align: center;
      padding: 2px 5px;
    }

    & td {
      text-align: center;
      padding: 2px 5px;
    }
  }

  #disconnect-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);

    & > div {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      padding: 15px 20px;
      background-color: white;
      border-radius: 5px;
      text-align: center;
    }
  }

  @media screen and (max-width: 640px) {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.75rem;
    }

    #play-menu {
      padding: 10px 15px;
      min-width: 280px;
    }

    #disconnect-modal > div {
      padding: 10px;
      min-width: 280px;
    }

    #leaderboard th {
      padding: 0 3px;
    }

    #leaderboard td {
      padding: 0 3px;
    }

    #leaderboard table {
      font-size: 14px;
    }
  }

  .hidden {
    display: none !important;
  }
}
